header {
    background-color: #669999;
    text-align: center;
}
footer {
	background-color: #669999;
	text-align: center;
	font-size: 40px;
	font-family: GrandHotel;
	font-weight: bold;
}
h1, h3 {
	text-align: center;

}
@font-face {
	font-family: 'GrandHotel';
	src: url('fonts/GrandHotel-Regular.otf');
}
h1  {
	font-family: GrandHotel, Arial;
	font-size: 65px;
} 
a {
	font-family: GrandHotel;
	font-size: 24px;
	text-decoration: underline;
	
	}
a:link{
	 color: black;
}

a:visited{
    color: navy;
}
a:hover{
	font-weight: bold;
	
}
a:active{
	text-decoration: none;
	
}
li {
	float: left;
	padding: 5px; 
	list-style-type: none;
}
.jumbotron {
	background-color: #669999;
	background-width: 100%;
	
}
p.opening {
    font-family: GrandHotel;
    font-weight: bold;
    font-size: 40px;
    background-color: #99FFCC;
    padding: 2px 10px 2px 10px;
	text-align: center;
	border: 5px dotted #336666;
}
.container { 
     font-family: GrandHotel;
     font-size: 40px;
	 }
	 
.responsive-textbox {
	width: 100%;
	height: auto;
}	
	
p.name {
	font-size: 50px;
	font-family: GrandHotel;
	text-align: center;
}
.jumbotron-special {
background-color: #FFFFCC;}
.navbar-default {
	background-color: #FFFFCC;
	background-image: none;
	background-repeat: no-repeat;
	height: 100px;
}
input tr{
	padding: 5px 5px 5px 5px;
}
.carousel-inner p {
	font-family: GrandHotel;
	font-size: 40px;
	background-color:#CCFF99;
	padding: 3px 5px 3px 5px;
	border: 5px dotted #336666;

	
}
.carousel-indicators  li {
	background-color: #33CCCC;
}
.carousel-indicators .active {
	background-color: #003300;
	}
.carousel-control.left,
.carousel-control.right {
	background-image: none;
	margin-top: auto;
	margin-bottom: auto;
	max-height: 50%;

}
.carousel.inner {
	width: 50%;
	align: center;
	margin-right: auto;
	margin-left: auto;
}
#carousel-Firefly {
	width: 50%;
	margin: auto;
	align: center;

}
.contactUs {
	background-color: #FFFFCC;
}	
table.one {
	width: 80%;
	text-align: right;
	cellspacing: 40px;
	cellpadding: 10px;
	font-weight: bold;

}	
input {
	padding: 5px 5px 5px 5px;
}	
	
	
