body {
	font-family: Helvetica, Arial;
    background-color: firebrick;	
}
table th {
	 background-color: wheat;
	 font-style: normal;
	 text-align: center;
}
tr     {
	background-color: tan;
	font-style: italic;
}
ul    {
	background-color: tan;
	margin-right:6em;
	border: 2px solid black;
	text-align: left;
}
table, th, td {
	border: 2px solid black;
}
ul     {
	margin-left: 6em;
}
h1, h2, h3, h4 {
	text-align: center;
}
td {
	text-align: center;
} 
table {
	border: 10px;
	width: 100%;
}
.staff {
	font-family: 'Playfair Display';
	font-weight: 400;
}
li  {
	font-style: italic;
	font-weight: 600;
}
a {
	text-decoration: none;
}

a:hover { 
   text-decoration: underline;
   background-color: tan;
   }
.table-striped > tbody > tr:nth-child(odd) {
	   background-color: #FFFFCC;
   }
.img-circle  {
     border-radius: 50%;
	max-width: 30%;
	vertical-align: middle;
	horizontal-align: top;
   }
   img {
   vertical-align: top;
   horizontal-align: middle;
   }
   