body {
	font-family: Helvetica, Arial;
    background-color: firebrick;	
}
table th {
	 background-color: wheat;
	 font-style: normal;
}
tr     {
	background-color: tan;
	font-style: italic;
}
ul    {
	background-color: tan;
	margin-right:6em;
	border: 2px solid black;
	text-align: left;
}
table, th, td {
	border: 2px solid black;
}
ul     {
	margin-left: 6em;
}
h1, h2, h3, h4 {
	text-align: center;
}
td {
	text-align: center;
} 
table {
	border: 10px;
	width: 100%;
}
.staff {
	font-family: 'Playfair Display';
	font-weight: 400;
}
div p  {
	width: 400px;
	height: 400px;
	background-image: url("bruces.jpg");
	background-repeat: no-repeat;
	background-position: center top;
	background-size: 400px 400px;
	margin: 0 auto
}
li  {
	font-style: italic;
	font-weight: 600;
}
a {
	text-decoration: none;
}

a:hover { 
   text-decoration: underline;
   background-color: tan;
   }