header {
    background-color: #669999;
    text-align: center;
}
footer {
	background-color: #669999;
	text-align: center;
	font-size: 20px;
}
h1, h3 {
	text-align: center;

}
@font-face {
	font-family: 'GrandHotel';
	src: url('fonts/GrandHotel-Regular.otf');
}
h1  {
	font-family: GrandHotel, Arial;
	font-size: 60px;
} 
a {
	font-family: GrandHotel;
	font-size: 24px;
	text-decoration: underline;
	
	}
a:link {
	color: black;
}

a:visited {
    color: red;
}
a:hover {
	font-weight: bold;
	
}
a:active {
	text-decoration: none;
	
}
li {
	float: left;
	padding: 5px; 
	list-style-type: none;
}